In [ ]:
!pip install scikit-hts

Collecting scikit-hts
  Downloading https://files.pythonhosted.org/packages/5a/83/9f0865ad11ababc00f909cb29e64ad3030ff8ded701a0c36b2ecce8c94b0/scikit_hts-0.5.2-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from scikit-hts) (1.0.5)
Collecting tqdm==4.43
  Downloading https://files.pythonhosted.org/packages/47/55/fd9170ba08a1a64a18a7f8a18f088037316f2a41be04d2fe6ece5a653e8f/tqdm-4.43.0-py2.py3-none-any.whl (59kB)
     |████████████████████████████████| 61kB 5.4MB/s
Requirement already satisfied: statsmodels==0.10.2 in /usr/local/lib/python3.6/dist-packages (from scikit-hts) (0.10.2)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.6/dist-packages (from scikit-hts) (0.22.2.post1)
Requirement already satisfied: numpy>=1.17.4 in /usr/local/lib/python3.6/dist-packages (from scikit-hts) (1.18.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.6/dist-packages (from scikit-hts) (1.4.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->scikit-hts) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.25.3->scikit-hts) (2.8.1)
Requirement already satisfied: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels==0.10.2->scikit-hts) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.21.3->scikit-hts) (0.15.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.25.3->scikit-hts) (1.12.0)
Installing collected packages: tqdm, scikit-hts
  Found existing installation: tqdm 4.41.1
    Uninstalling tqdm-4.41.1:
      Successfully uninstalled tqdm-4.41.1
Successfully installed scikit-hts-0.5.2 tqdm-4.43.0

In [ ]:
!pip install --upgrade numpy
!pip install pmdarima

Collecting numpy
  Downloading https://files.pythonhosted.org/packages/93/0b/71ae818646c1a80fbe6776d41f480649523ed31243f1f34d9d7e41d70195/numpy-1.19.0-cp36-cp36m-manylinux2010_x86_64.whl (14.6MB)
     |████████████████████████████████| 14.6MB 290kB/s
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
Installing collected packages: numpy
  Found existing installation: numpy 1.18.5
    Uninstalling numpy-1.18.5:
      Successfully uninstalled numpy-1.18.5
Successfully installed numpy-1.19.0

Collecting pmdarima
  Downloading https://files.pythonhosted.org/packages/4b/15/0dfc38deb2f5582b79baff6523b245d6a3dbe877e3fb96a1ee39ec63b626/pmdarima-1.6.1-cp36-cp36m-manylinux1_x86_64.whl (1.5MB)
     |████████████████████████████████| 1.5MB 8.5MB/s
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.22.2.post1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.24.3)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.19.0)
Collecting statsmodels>=0.11
  Downloading https://files.pythonhosted.org/packages/cb/83/540fd83238a18abe6c2d280fa8e489ac5fcefa1f370f0ca1acd16ae1b860/statsmodels-0.11.1-cp36-cp36m-manylinux1_x86_64.whl (8.7MB)
     |████████████████████████████████| 8.7MB 52.5MB/s
Collecting Cython<0.29.18,>=0.29
  Downloading https://files.pythonhosted.org/packages/e7/d7/510ddef0248f3e1e91f9cc7e31c0f35f8954d0af92c5c3fd4c853e859ebe/Cython-0.29.17-cp36-cp36m-manylinux1_x86_64.whl (2.1MB)
     |████████████████████████████████| 2.1MB 55.0MB/s
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.0.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from pmdarima) (0.15.1)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.11->pmdarima) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pmdarima) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19->pmdarima) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5->statsmodels>=0.11->pmdarima) (1.12.0)
ERROR: scikit-hts 0.5.2 has requirement statsmodels==0.10.2, but you'll have statsmodels 0.11.1 which is incompatible.
Installing collected packages: statsmodels, Cython, pmdarima
  Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
  Found existing installation: Cython 0.29.20
    Uninstalling Cython-0.29.20:
      Successfully uninstalled Cython-0.29.20
Successfully installed Cython-0.29.17 pmdarima-1.6.1 statsmodels-0.11.1

In [ ]:
import warnings
import pandas as pd
import numpy as np
import gc
import os
from google.colab import drive
drive.mount('/content/drive')
from pathlib import Path
from sklearn.preprocessing import OrdinalEncoder
from  datetime import datetime, timedelta
import pickle

drive_path = Path('/content/drive/My Drive/')
warnings.filterwarnings("ignore")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from google.colab import files
files.upload() #upload kaggle.json

!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
kaggle.json

In [ ]:
#download data
!kaggle competitions download -c m5-forecasting-accuracy

!unzip -q sales_train_validation.csv.zip -d .
!unzip -q sales_train_evaluation.csv.zip -d .
!unzip -q sell_prices.csv.zip -d .
!unzip -q sample_submission.csv.zip -d .
!ls

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading sample_submission.csv.zip to /content
  0% 0.00/163k [00:00<?, ?B/s]
100% 163k/163k [00:00<00:00, 64.2MB/s]
Downloading calendar.csv to /content
  0% 0.00/101k [00:00<?, ?B/s]
100% 101k/101k [00:00<00:00, 32.9MB/s]
Downloading sales_train_validation.csv.zip to /content
 58% 9.00M/15.5M [00:00<00:00, 19.2MB/s]
100% 15.5M/15.5M [00:00<00:00, 31.7MB/s]
Downloading sales_train_evaluation.csv.zip to /content
 32% 5.00M/15.8M [00:00<00:00, 16.9MB/s]
100% 15.8M/15.8M [00:00<00:00, 45.5MB/s]
Downloading sell_prices.csv.zip to /content
 35% 5.00M/14.2M [00:00<00:00, 13.8MB/s]
100% 14.2M/14.2M [00:00<00:00, 32.1MB/s]
calendar.csv			sales_train_validation.csv.zip
drive				sample_data
kaggle.json			sample_submission.csv
sales_train_evaluation.csv	sample_submission.csv.zip
sales_train_evaluation.csv.zip	sell_prices.csv
sales_train_validation.csv	sell_prices.csv.zip

In [ ]:
def transpose(column, index, day_col, dt):
    """
    Turn the row oriented time series into a column oriented one 
    """
    ts = []
    new_cols = dt[column].unique()
    
    for value in new_cols:
        value_ts = dt[dt[column] == value]
        vertical = value_ts[day_col].sum().T
        vertical.index = index
        ts.append(vertical)
    return pd.DataFrame({k: v for k, v in zip(new_cols, ts)})

In [ ]:
days_cols = [f'd_{i}' for i in range(1942-(364*4), 1942)]
cat_cols = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id']
df_train_full = pd.read_csv('./sales_train_evaluation.csv', usecols=cat_cols+days_cols)
df_train_full.head()

                              id        item_id  ... d_1940 d_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0

[5 rows x 1462 columns]

In [ ]:
ids = df_train_full.id.unique()
df_train_full['cat_id']  = (df_train_full['store_id'] + '_' + df_train_full['cat_id'])
df_train_full['dept_id'] = (df_train_full['store_id'] + '_' + df_train_full['dept_id'])
df_train_full['id'] = (df_train_full['store_id'] + '_' + df_train_full['id'])

In [ ]:
calendar = reduce_mem_usage(pd.read_csv('calendar.csv'))

day_cols = [col for col in df_train_full.columns if col.startswith('d_')]
idx = [int(col.split('d_')[1]) for col in day_cols]

# will be useful later
train_date_id = pd.to_datetime(calendar[calendar.d.apply(lambda x: int(x.split('d_')[1])).isin(idx)].date)

Mem. usage decreased to  0.12 Mb (41.9% reduction)

In [ ]:
dept_ts = transpose('dept_id', train_date_id, day_cols, df_train_full)

In [ ]:
state_ts = transpose('state_id', train_date_id, day_cols, df_train_full)
store_ts = transpose('store_id', train_date_id, day_cols, df_train_full)
cat_ts = transpose('cat_id', train_date_id, day_cols, df_train_full)
dept_ts = transpose('dept_id', train_date_id, day_cols, df_train_full)
item_ts = transpose('id', train_date_id, day_cols, df_train_full)

df = pd.concat([state_ts, store_ts, cat_ts,dept_ts, item_ts], 1)
df.index.freq = 'D'
df.head()

               CA  ...  WI_3_FOODS_3_827_WI_3_evaluation
date               ...
2012-05-28  14997  ...                                 0
2012-05-29  12934  ...                                 0
2012-05-30  12078  ...                                 0
2012-05-31  13501  ...                                 0
2012-06-01  16806  ...                                 0

[5 rows x 30603 columns]

In [ ]:
df['total'] = df['TX'].astype(float) + df['CA'].astype(float) + df['WI'].astype(float)

In [ ]:
df.tail()

               CA     TX  ...  WI_3_FOODS_3_827_WI_3_evaluation    total
date                      ...
2016-05-18  15678  10375  ...                                 0  37096.0
2016-05-19  16297   9162  ...                                 2  36963.0
2016-05-20  17430  12303  ...                                 2  42552.0
2016-05-21  23103  13681  ...                                 5  51518.0
2016-05-22  24644  14815  ...                                 1  54338.0

[5 rows x 30604 columns]

In [ ]:
df.to_pickle(drive_path/'df.pkl')

In [ ]:
# df = pd.read_pickle(drive_path/'df.pkl')
df.shape

(1456, 30604)

In [ ]:
states = df_train_full.state_id.unique()
stores = df_train_full.store_id.unique()
depts = df_train_full.dept_id.unique()
cats = df_train_full.cat_id.unique()
items = df_train_full.id.unique()

total = {'total': list(states)}
state_h = {k: [v for v in stores if v.startswith(k)] for k in states}
store_h = {k: [v for v in cats if v.startswith(k)] for k in stores}
cat_h = {k: [v for v in depts if v.startswith(k)] for k in cats}
dept_h = {k: [v for v in items if v.startswith(k)] for k in depts}

hierarchy = {**total, **state_h, **store_h, **cat_h, **dept_h}
gc.collect()

19428

In [ ]:
pickle.dump(hierarchy, open(drive_path/'hierarchy.json', 'wb'))

In [ ]:
# hierarchy = pickle.load(open(drive_path/'hierarchy.json', 'rb'))

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

cal = pd.read_csv("calendar.csv")[-len(df)-28:]

cal.date = pd.to_datetime(cal.date)
holiday_type_df = pd.get_dummies(cal[['event_type_1']])

one_hot_cal = cal.copy()

one_hot_cal[['event_name_1']] = one_hot_cal[['event_name_1']].fillna("None")
one_hot_cal[['event_name_1']] = OrdinalEncoder(dtype='int').fit_transform(one_hot_cal[['event_name_1']])

one_hot = pd.concat([one_hot_cal, holiday_type_df], axis=1)
one_hot_cols = ['snap_CA', 'snap_TX', 'snap_WI', 'event_name_1'] + list(holiday_type_df.columns)
one_hot = one_hot[one_hot_cols].reset_index(drop=True)

prop_holidays = pd.DataFrame()
for hol in cal['event_name_1'].dropna().unique():
    prop_holidays = pd.concat((prop_holidays, pd.DataFrame({'holiday': hol, 'ds': cal[cal['event_name_1'] == hol]['date']})))

df_ev_3 = pd.DataFrame({'holiday': 'snap_CA', 'ds': cal[cal['snap_CA'] == 1]['date']})
df_ev_4 = pd.DataFrame({'holiday': 'snap_TX', 'ds': cal[cal['snap_TX'] == 1]['date']})
df_ev_5 = pd.DataFrame({'holiday': 'snap_WI', 'ds': cal[cal['snap_WI'] == 1]['date']})
prop_holidays = pd.concat((prop_holidays, df_ev_3, df_ev_4, df_ev_5))

In [ ]:
cal.shape, df.shape, one_hot.shape

((1484, 14), (1456, 30604), (1484, 8))

In [ ]:
from pmdarima.arima import ndiffs
from pmdarima import preprocessing
import pmdarima as pm
from pmdarima.preprocessing import BoxCoxEndogTransformer
from pmdarima import pipeline
from datetime import timedelta
from pmdarima.preprocessing import FourierFeaturizer
from fbprophet import Prophet
from hts import HTSRegressor
from scipy.stats import boxcox
from scipy.special import inv_boxcox
from statsmodels.tsa.holtwinters import ExponentialSmoothing

def create_train_exog_df():
    exog_df = pd.concat([cal[['date']][:-28].reset_index(drop=True), one_hot[:-28]], axis=1)
    return exog_df

def create_test_exog_df():
    exog_df = pd.concat([cal[['date']][-28:].reset_index(drop=True), one_hot[-28:].reset_index(drop=True)], axis=1)
    return exog_df

def create_holt_winters(col):
    y, fitted_lambda= boxcox(df[col].values + 1)
    es = ExponentialSmoothing(
        y,
        seasonal_periods=7,
        seasonal='add',
        trend='add'
    )

    m = es.fit(
        optimized=True,
        remove_bias=True,
        use_boxcox=False,
        use_basinhopping=True
    )

    f = m.predict(start=0, end=len(df)+27)
    return inv_boxcox(f,fitted_lambda) - 1

def create_prophet_model(col):
    prop_df = pd.DataFrame({'ds': df.index}, index=range(len(df.index)))
    prop_df['y'] = df[col].values

    y, fitted_lambda= boxcox(prop_df['y'].values+1)
    

    model = Prophet(
        holidays = prop_holidays,
        uncertainty_samples = False,
        changepoint_range = 0.9, 
        changepoint_prior_scale = 0.4,
        seasonality_prior_scale=7,
        holidays_prior_scale=7,
        daily_seasonality=False,
        seasonality_mode = 'multiplicative'
    )

    prop_df['y'] = y
    model.fit(prop_df)
    fo = model.make_future_dataframe(periods=28, include_history=True)
    fo = model.predict(fo)
    fo[['yhat']] = fo[['yhat']].apply(lambda x: inv_boxcox(x, fitted_lambda))
    return fo

def create_arima_pipeline(series):
    kpss_diffs = ndiffs(series, alpha=0.05, test='kpss', max_d=6)
    adf_diffs = ndiffs(series, alpha=0.05, test='adf', max_d=6)
    n_diffs_val = max(adf_diffs, kpss_diffs)

    date_feat = preprocessing.DateFeaturizer(
        column_name="date",
        with_day_of_week=True,
        with_day_of_month=True
    )

    model = pipeline.Pipeline([
        ('fourier', FourierFeaturizer(7, 3)),
        ('date', date_feat),
        ("boxcox", BoxCoxEndogTransformer(lmbda2=1)),
        ("model", pm.AutoARIMA(
            d=n_diffs_val,
            D=n_diffs_val,
            m=7,
            seasonal=False,
            max_p=2,
            max_q=2,
            stepwise=True,
            method='nm',
            maxiter=70,
            suppress_warnings=True,
            n_jobs=-1
        ))
    ])
    return model

In [ ]:
import gc
def create_arima(col):
    gc.collect()
    file_location = drive_path/f'preds/preds_valid_{col}.pkl'

    try:
        p = pickle.load(open(file_location, "rb"))
        print("Loaded complete.")

    except (OSError, IOError) as e:
        print("*" * 50)
        print(f"Fitting node {col}")
        print("*" * 50)

        series = df[col].values
        X_train_exog = create_train_exog_df()
        X_test_exog = create_test_exog_df()

        x_pipeline = create_arima_pipeline(series)
        x_pipeline.fit(series, exogenous=X_train_exog)
    
        preds = x_pipeline.predict(n_periods=28, exogenous=X_test_exog)
        in_sample_preds = x_pipeline.predict_in_sample(exogenous=X_train_exog)
        
        del x_pipeline, X_train_exog, X_test_exog, series; gc.collect()
        p = preds, in_sample_preds, col
        # pickle.dump(p, open(file_location, 'wb'))

    return p

In [ ]:
from hts.hierarchy import HierarchyTree
tree = HierarchyTree.from_nodes(nodes=hierarchy, df=df)
col_order = tree.to_pandas().columns

Index(['total', 'CA', 'TX', 'WI', 'CA_1', 'CA_2', 'CA_3', 'CA_4', 'TX_1',
       'TX_2',
       ...
       'WI_3_FOODS_3_818_WI_3_evaluation', 'WI_3_FOODS_3_819_WI_3_evaluation',
       'WI_3_FOODS_3_820_WI_3_evaluation', 'WI_3_FOODS_3_821_WI_3_evaluation',
       'WI_3_FOODS_3_822_WI_3_evaluation', 'WI_3_FOODS_3_823_WI_3_evaluation',
       'WI_3_FOODS_3_824_WI_3_evaluation', 'WI_3_FOODS_3_825_WI_3_evaluation',
       'WI_3_FOODS_3_826_WI_3_evaluation', 'WI_3_FOODS_3_827_WI_3_evaluation'],
      dtype='object', length=30604)

In [ ]:
from multiprocessing import Pool, cpu_count
import pickle

print(f'Cpu count {cpu_count()}')
gc.collect()
pool = Pool(processes=cpu_count())

holt_preds = pool.map(create_holt_winters, col_order)

pool.close()
pool.join()

In [ ]:
holt_forecasts = {}

for i, col in enumerate(col_order):
    total_preds = holt_preds[i]
    pred = total_preds[-28:]
    in_sample = total_preds[:-28]
    resid = in_sample - df[col].values

    holt_forecasts[col] = {
        'y_hat': total_preds,
        'residual': resid,
        'mse': np.nanmean(np.array(resid) ** 2)
    }

pickle.dump(holt_forecasts, open(drive_path/'holt_forecasts.json', 'wb'))

In [ ]:
# holt_forecasts = pickle.load(open(drive_path/'holt_forecasts_val.json', 'rb'))

In [ ]:
from multiprocessing import Pool, cpu_count
import pickle

print(f'Cpu count {cpu_count()}')

pool = Pool(processes=cpu_count())

ar_preds = pool.map(create_arima, col_order)

pool.close()
pool.join()

Cpu count 4
**************************************************
**************************************************
Fitting node TX_1
Fitting node total
**************************************************
**************************************************
**************************************************
**************************************************
Fitting node CA_4_HOUSEHOLD
Fitting node CA_1_FOODS
**************************************************
**************************************************
**************************************************
Fitting node CA_2_HOBBIES
**************************************************
**************************************************
Fitting node TX_2
**************************************************
**************************************************
Fitting node CA_4_FOODS
**************************************************
**************************************************
Fitting node CA
**************************************************
**************************************************
Fitting node CA_2_HOUSEHOLD
**************************************************
**************************************************
Fitting node TX_3
**************************************************
**************************************************
Fitting node TX_1_HOBBIES
**************************************************
**************************************************
Fitting node TX
**************************************************
**************************************************
Fitting node CA_2_FOODS
**************************************************
**************************************************
Fitting node TX_1_HOUSEHOLD
**************************************************
**************************************************
Fitting node WI_1
**************************************************
**************************************************
Fitting node WI
**************************************************
**************************************************
Fitting node CA_3_HOBBIES
**************************************************
**************************************************
Fitting node TX_1_FOODS
**************************************************
**************************************************
Fitting node WI_2
**************************************************
**************************************************
Fitting node CA_1
**************************************************
**************************************************
Fitting node CA_3_HOUSEHOLD
**************************************************
**************************************************
Fitting node TX_2_HOBBIES
**************************************************
**************************************************
Fitting node WI_3
**************************************************
**************************************************
Fitting node CA_2
**************************************************
**************************************************
Fitting node CA_3_FOODS
**************************************************
**************************************************
Fitting node TX_2_HOUSEHOLD
**************************************************
**************************************************
Fitting node CA_1_HOBBIES
**************************************************
**************************************************
Fitting node CA_4_HOBBIES
**************************************************
**************************************************
Fitting node CA_3
**************************************************
**************************************************
Fitting node TX_2_FOODS
**************************************************
**************************************************
Fitting node CA_1_HOUSEHOLD
**************************************************
**************************************************
Fitting node TX_3_HOBBIES
**************************************************
**************************************************
Fitting node CA_4
**************************************************
**************************************************
Fitting node WI_2_FOODS
**************************************************
**************************************************
Fitting node CA_1_FOODS_1
**************************************************
**************************************************
Fitting node TX_3_HOUSEHOLD
**************************************************
**************************************************
Fitting node CA_2_FOODS_2
**************************************************
**************************************************
Fitting node WI_3_HOBBIES
**************************************************
**************************************************
Fitting node CA_1_FOODS_2
**************************************************
**************************************************
Fitting node TX_3_FOODS
**************************************************
**************************************************
Fitting node CA_2_FOODS_3
**************************************************
**************************************************
Fitting node WI_3_HOUSEHOLD
**************************************************
**************************************************
Fitting node CA_1_FOODS_3
**************************************************
**************************************************
Fitting node CA_3_HOBBIES_1
**************************************************
**************************************************
Fitting node WI_1_HOBBIES
**************************************************
**************************************************
Fitting node WI_3_FOODS
**************************************************
**************************************************
Fitting node CA_3_HOBBIES_2
**************************************************
**************************************************
Fitting node CA_2_HOBBIES_1
**************************************************
**************************************************
Fitting node WI_1_HOUSEHOLD
**************************************************
**************************************************
Fitting node CA_1_HOBBIES_1
**************************************************
**************************************************
Fitting node CA_3_HOUSEHOLD_1
**************************************************
**************************************************
Fitting node CA_2_HOBBIES_2
**************************************************
**************************************************
Fitting node WI_1_FOODS
**************************************************
**************************************************
Fitting node CA_3_HOUSEHOLD_2
**************************************************
**************************************************
Fitting node CA_1_HOBBIES_2
**************************************************
**************************************************
Fitting node CA_2_HOUSEHOLD_1
**************************************************
**************************************************
Fitting node WI_2_HOBBIES
**************************************************
**************************************************
Fitting node CA_3_FOODS_1
**************************************************
**************************************************
Fitting node CA_1_HOUSEHOLD_1
**************************************************
**************************************************
Fitting node CA_2_HOUSEHOLD_2
**************************************************
**************************************************
Fitting node WI_2_HOUSEHOLD
**************************************************
**************************************************
Fitting node CA_1_HOUSEHOLD_2
**************************************************
**************************************************
Fitting node CA_3_FOODS_2
**************************************************
**************************************************
Fitting node CA_2_FOODS_1
**************************************************
**************************************************
Fitting node CA_3_FOODS_3
**************************************************
**************************************************
Fitting node TX_1_HOBBIES_1
**************************************************
**************************************************
Fitting node TX_2_HOBBIES_2
**************************************************
**************************************************
Fitting node TX_3_HOUSEHOLD_1
**************************************************
**************************************************
Fitting node CA_4_HOBBIES_1
**************************************************
**************************************************
Fitting node TX_1_HOBBIES_2
**************************************************
**************************************************
Fitting node TX_2_HOUSEHOLD_1
**************************************************
**************************************************
Fitting node TX_3_HOUSEHOLD_2
**************************************************
**************************************************
Fitting node CA_4_HOBBIES_2
**************************************************
**************************************************
Fitting node TX_1_HOUSEHOLD_1
**************************************************
**************************************************
Fitting node TX_2_HOUSEHOLD_2
**************************************************
**************************************************
Fitting node TX_3_FOODS_1
**************************************************
**************************************************
Fitting node CA_4_HOUSEHOLD_1
**************************************************
**************************************************
Fitting node TX_2_FOODS_1
**************************************************
**************************************************
Fitting node TX_1_HOUSEHOLD_2
**************************************************
**************************************************
Fitting node TX_3_FOODS_2
**************************************************
**************************************************
Fitting node CA_4_HOUSEHOLD_2
**************************************************
**************************************************
Fitting node TX_2_FOODS_2
**************************************************
**************************************************
Fitting node TX_1_FOODS_1
**************************************************
**************************************************
Fitting node TX_3_FOODS_3
**************************************************
**************************************************
Fitting node CA_4_FOODS_1
**************************************************
**************************************************
Fitting node TX_2_FOODS_3
**************************************************
**************************************************
Fitting node TX_1_FOODS_2
**************************************************
**************************************************
Fitting node WI_1_HOBBIES_1
**************************************************
**************************************************
Fitting node CA_4_FOODS_2
**************************************************
**************************************************
Fitting node TX_3_HOBBIES_1
**************************************************
**************************************************
Fitting node TX_1_FOODS_3
**************************************************
**************************************************
Fitting node WI_1_HOBBIES_2
**************************************************
**************************************************
Fitting node CA_4_FOODS_3
**************************************************
**************************************************
Fitting node TX_3_HOBBIES_2
**************************************************
**************************************************
Fitting node TX_2_HOBBIES_1
**************************************************
**************************************************
Fitting node WI_1_HOUSEHOLD_1
**************************************************
**************************************************
Fitting node WI_1_HOUSEHOLD_2
**************************************************
**************************************************
Fitting node WI_2_FOODS_1
**************************************************
**************************************************
Fitting node WI_3_FOODS_2
**************************************************
**************************************************
Fitting node WI_1_FOODS_1
**************************************************
**************************************************
Fitting node WI_2_FOODS_2
**************************************************
**************************************************
Fitting node WI_3_FOODS_3
**************************************************
**************************************************
Fitting node WI_1_FOODS_2
**************************************************
**************************************************
Fitting node WI_2_FOODS_3
**************************************************
**************************************************
Fitting node WI_1_FOODS_3
**************************************************
**************************************************
Fitting node WI_3_HOBBIES_1
**************************************************
**************************************************
Fitting node WI_2_HOBBIES_1
**************************************************
**************************************************
Fitting node WI_3_HOBBIES_2
**************************************************
**************************************************
Fitting node WI_2_HOBBIES_2
**************************************************
**************************************************
Fitting node WI_3_HOUSEHOLD_1
**************************************************
**************************************************
Fitting node WI_2_HOUSEHOLD_1
**************************************************
**************************************************
Fitting node WI_3_HOUSEHOLD_2
**************************************************
**************************************************
Fitting node WI_2_HOUSEHOLD_2
**************************************************
**************************************************
Fitting node WI_3_FOODS_1
**************************************************

In [ ]:
ar_forecasts = {}

for i, col in enumerate(col_order):
    pred, in_sample, _ = ar_preds[i]
    resid = (in_sample - df[col]).values
    ar_forecasts[col] = {
        'y_hat': np.concatenate([in_sample, pred]),
        'residual': resid,
        'mse': np.nanmean(np.array(resid) ** 2)
    }

pickle.dump(ar_forecasts, open(drive_path/'ar_forecasts.json', 'wb'))

In [ ]:
from multiprocessing import Pool
import pickle

pool = Pool(processes=4)

prop_preds = pool.map(create_prophet_model, col_order)

pool.close()
pool.join()

In [ ]:
prop_forecasts = {}

for i, col in enumerate(col_order):
    total_preds = prop_preds[i]['yhat'].values
    pred = total_preds[-28:]
    in_sample = total_preds[:-28]
    resid = (in_sample - df[col]).values
    prop_forecasts[col] = {
        'y_hat': prop_preds[i]['yhat'].values,
        'residual': resid,
        'mse': np.nanmean(np.array(resid) ** 2)
    }

pickle.dump(prop_forecasts, open(drive_path/'prophet_forecasts.json', 'wb'))

In [ ]:
prophet_forecasts = pickle.load(open(drive_path/'prophet_forecasts.json', 'rb'))

In [ ]:
# summing matrix
nodes = tree.level_order_traversal()
num_at_level = list(map(sum, nodes))
columns = num_at_level[-1]
bl_mat = np.identity(columns)
top = np.ones(columns)
summing_mat = bl_mat
num_levels = len(num_at_level)

for lev in range(num_levels - 1):
    summing = nodes[-(lev + 1)]
    count = 0
    num2sum_ind = 0
    B = np.zeros([num_at_level[-1]])
    for num2sum in summing:
        num2sum_ind += num2sum
        a = bl_mat[count:num2sum_ind, :]
        count += num2sum
        if np.all(B == 0):
            B = a.sum(axis=0)
        else:
            B = np.vstack((B, a.sum(axis=0)))
    summing_mat = np.vstack((B, summing_mat))
    bl_mat = B

summing_mat = np.vstack((top, summing_mat))

In [ ]:
def y_hat_matrix(forecasts, keys=None):
    if not keys:
        keys = forecasts.keys()
    first = list(forecasts.keys())[0]
    y_hat_mat = np.zeros([len(forecasts[first]['y_hat']), 1])
    for key in keys:
        f1 = np.array(forecasts[key]['y_hat'])
        f2 = f1[:, np.newaxis]
        if np.all(y_hat_mat == 0):
            y_hat_mat = f2
        else:
            y_hat_mat = np.concatenate((y_hat_mat, f2), axis=1)
    return np.nan_to_num(y_hat_mat)

def project(hat_mat: np.ndarray, sum_mat: np.ndarray, optimal_mat: np.ndarray) -> np.ndarray:
    new_mat = np.empty([hat_mat.shape[0], sum_mat.shape[0]])
    for i in range(hat_mat.shape[0]):
        new_mat[i, :] = np.dot(optimal_mat, np.transpose(hat_mat[i, :]))
    return new_mat

In [ ]:
def reconcile(forecast):
    hat_mat = y_hat_matrix(forecast)
    transposed_summing_mat = np.transpose(summing_mat)

    ols = np.dot(np.dot(summing_mat, np.linalg.inv(np.dot(transposed_summing_mat, summing_mat))), transposed_summing_mat)

    diag = [forecast[col]['mse'] for col in col_order]
    diag = np.diag(np.hstack(diag) + 0.0000001, 0)

    inner_bracket = np.dot(np.dot(transposed_summing_mat, np.linalg.inv(diag)), summing_mat)
    left = np.dot(summing_mat, np.linalg.inv(inner_bracket))
    right = np.dot(left,transposed_summing_mat)
    optimal_mat = np.dot(right, np.linalg.inv(diag))

    res = project(hat_mat=hat_mat, sum_mat=summing_mat, optimal_mat=optimal_mat)

    p_df = pd.DataFrame(res, columns=col_order)
    p_df.index = pd.date_range(df.index[-1],df.index[-1] + timedelta(days=28)).union(df.index)
    
    return p_df

In [ ]:
recon_ar = reconcile(ar_forecasts)
recon_holt = reconcile(holt_forecasts)
recon_prop = reconcile(prop_forecasts)

In [ ]:
avg_df = recon_prop.copy()

for col in avg_df.columns:
    avg_df[col] = (recon_prop[col].values*0.75 + recon_ar[col].values*0.2 + recon_holt[col].values*0.05)

avg_df.tail()

                   total            CA  ...  WI_3_FOODS_2  WI_3_FOODS_3
2016-06-15  43839.954080  17546.602119  ...    673.391673   2251.245929
2016-06-16  40251.892806  17382.481772  ...    440.788972   1800.007673
2016-06-17  45130.369586  19373.030232  ...    475.909106   2111.392898
2016-06-18  54743.266773  24144.293582  ...    575.360464   2564.727829
2016-06-19  52994.542920  23652.479086  ...    664.571463   2680.175751

[5 rows x 114 columns]

In [ ]:
avg_df.to_pickle(drive_path/'avg.pkl')

In [ ]:
df_sub_ahp = pd.DataFrame()
# ahp

for col in dept_ts:
    store_id = col[:4]
    dept_id = col
    predictions = avg_df[col][-28:]

    p_df = df_train_full.loc[(df_train_full.dept_id == dept_id) & (df_train_full.store_id == store_id)].iloc[:, np.r_[0,-56:-28]]
    df_item = p_df[['id']]
    total_day_sums = p_df.sum()[1:]
    proportions = (p_df.iloc[:, 1:] / np.array(total_day_sums).reshape((1, 28))).sum(axis=1)/28
    
    for i in range(1, 29):
        df_item[f'F{i}'] = proportions * float(predictions[i-1])

    df_sub_ahp = pd.concat([df_sub_ahp, df_item])

In [ ]:
df_sub_val = df_sub_pha

In [ ]:
df_sub_val.id = df_sub_val.id.apply(lambda x: x[5:])
c = df_sub_val.copy()
c.id = c.id.str.replace("evaluation$", "validation")
df_sub_val = pd.concat([c, df_sub_val], axis=0, sort=False)
df_sub_val.fillna(0, inplace=True)

In [ ]:
df_sub_val.to_csv('submission.csv', index=False)

In [ ]:
!kaggle competitions submit m5-forecasting-accuracy -f submission.csv

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
100% 32.1M/32.1M [00:04<00:00, 6.83MB/s]
Successfully submitted to M5 Forecasting - Accuracy